
<div class="form-container" *ngIf="employee">

    <h3>{{ formTitle }}</h3>
    <div class="message" *ngIf="message">
        {{ message }}
    </div>
    <div class="form-group">
        <label for="firstName">First name</label>
        <input type="text" class="form-control" id="firstName" required [(ngModel)]="employee.firstName"
            name="firstName">
    </div>

    <div class="form-group">
        <label for="lastName">Last name</label>
        <input type="text" class="form-control" id="lastName" [(ngModel)]="employee.lastName" name="lastName">
    </div>
    <div class="toolbar">
        <button class="btn btn-primary" (click)="save()">Save</button>
        <button class="btn btn-secondary" (click)="goBack()">Back</button>
    </div>
</div>

